.bg-green-light {
	background-color: #47b760;
}

/*** Contact Start ***/
.contact-detail::before {
	position: absolute;
	content: '';
	height: -moz-calc(75% - 5px);
	height: -webkit-calc(75% - 5px);
	height: calc(75% - 5px);
	width: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(rgb(210, 243, 235, 1), rgba(230, 280, 245, 0.3)),
		url(../img/background.jpg) center center no-repeat;
	background-size: cover;
	border-radius: 10px;
	z-index: -1;
}


.letter-spacing {
	text-align: center;
	font-weight: bold;
	font-size: 50px;
}