@media screen and (min-width: 320px) and (max-width: 768px) {
    .text-zero .text-landfill {
        font-size: 45px;
    }
}

/* @media screen and (max-width: 320px) {
    .font-processing {
        width: 300px;
    }
  } */

/********** Template CSS **********/
:root {
    --primary: #88B44E;
    --secondary: #FB9F38;
    --light: #F5F8F2;
    --dark: #252C30;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

/* .fw-medium {
    font-weight: 600;
} */

.fw-bold {
    font-weight: 700;
}

.fw-black {
    font-weight: 900;
}

.btn-primary {
    color: #fff;
    background-color: #88B44E;
    border-color: #88B44E;
}

.btn-primary:hover {
    color: rgb(255, 255, 255);
    background-color: #078d11;
    border-color: #078d11;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
    font-weight: 500;
}

.btn-primary,
/*btn-primary no*/
.btn-outline-primary:hover {
    color: var(--light);
}

.btn-secondary,
.btn-outline-secondary:hover {
    color: var(--dark);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.sticky-top {
    top: -150px;
    transition: .5s;
}

.navbar .navbar-brand {
    position: absolute;
    padding: 0;
    width: 170px;
    height: 135px;
    top: 0;
    left: 0;
}

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 25px 0;
    color: var(--dark);
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
}
/* 
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
} */


.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-brand {
        width: 126px;
        height: 100px;
    }

    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        margin-top: 85px;
        border-top: 1px;
        border-top: 1px solid #16a43f;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.page-header-home {
    background: url(../img/background-home.jpg) center center no-repeat;
    background-size: cover;
}

.carousel-caption {
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    /* align-items: center; */
    /* background: rgba(136, 180, 78, .7); */
    z-index: 1;
}

.font-company {
    margin-top: 75px;
    font-family: sans-serif;
    font-size: 62px;
    color: #50bb68;
    text-shadow: 1px 1px 2px rgb(123, 123, 123);
}

.font-company-th {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-family: sans-serif;
    font-size: 25px;
    color: #434343;
}

.img-logo-size {
    display: flex;
    width: 140px;
    height: 125px;
    margin-right: 120px;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.18);
    border-radius: 0px 0px 40px 40px;
}

.center-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-recycle {
    display: flex;
    /* margin-right: 80px; */
    width: 400px;
    height: 600px;
}

.icon-recycle {
    position: absolute;
    display: flex;
    justify-content: start;
    margin-top: 360px;
    width: 210px;
    height: 210px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 3.5rem;
    background-color: var(--dark);
    border: 15px solid var(--dark);
}

/* @media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }

    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
} */


/*** Accountability at Metech Recycle ***/

.page-header-account {
    background: linear-gradient(rgba(64, 64, 64, 0.7), rgba(94, 94, 94, 0.7)), url(../img/bg-page-header-business.jpg) center center no-repeat;
    background-size: cover;
}

/* .page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-size: 18px;
    color: var(--light);
} */

.background-size {
    width: 100% !important;
    height: 660px !important;
}

.font-business {
    width: 440px;
    font-family: sans-serif;
    font-size: 40px;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgb(123, 123, 123);
    background: rgb(22, 164, 54);
    background: linear-gradient(180deg, rgba(22, 164, 54, 0.9) 0%, rgba(22, 164, 54, 0.9) 100%);
    border-radius: 22px;
    padding: 30px;
}

.text-accountability {
    font-family: sans-serif;
    font-size: 25px;
}

.text-item-accountability {
    font-family: sans-serif;
    font-size: 18px;
}

.img-maximum {
    /* position: absolute; */
    width: 300px;
    height: 220px;
    margin-right: 40px;
    /* margin-top: -100px; */
    border-radius: 50% 20% / 10% 40%;
}

.text-maximum {
    color: #ffffff;
    text-align: left;
    font-weight: 500;
    font-size: 40px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.text-maximum-item {
    color: #ffffff;
    text-align: left;
    font-size: 25px;
    font-weight: 400;
}

/*** Customer Audits ***/

.background-audits {
    background: rgb(132, 255, 160);
    background: linear-gradient(167deg, rgba(132, 255, 160, 1) 0%, rgba(22, 164, 54, 1) 62%);
}

.img-audits {
    width: 170px;
    height: 150px;
    box-shadow: 9px 6px 4px 3px rgba(0, 0, 0, .15);
}

.text-title-audits {
    display: flex;
    justify-content: left;
    padding: 15px 15px 15px 0px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 40px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.text-name-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 25px;
}


/*** Mobile crusher ***/

.text-mobile {
    color: #ffffff;
    text-align: left;
    font-weight: 800;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.sub-text-mobile {
    font-size: 28px;
    color: #ffffff;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.background-mobile {
    background: linear-gradient(rgba(136, 180, 78, .1), rgba(136, 180, 78, .1)), url(../img/bg-content-03.png) left bottom no-repeat;
    background-size: cover;
    /* background-color: #8bd29b;
    height: 68vh; */
}

/* .sub-background-mobile {
    background: rgb(22, 164, 54);
    background: linear-gradient(93deg, rgba(22, 164, 54, 1) 0%, rgba(169, 245, 186, 1) 77%);
    height: 235px;
} */

.img-mobile {
    /* position: absolute; */
    width: 300px;
    height: 220px;
    /* margin-right: 40px; */
    margin-top: -100px;
    box-shadow: 9px 6px 4px 3px rgba(0, 0, 0, .15);
}

/*** Mechanical Separation ***/

.text-mechanical {
    color: #16a43f;
    font-size: 45px;
}

.text-mechanical-item {
    font-size: 25px;
    text-align: left;
    color: #ffffff;
    background-color: #078d11;
    border-radius: 30px;
    padding: 20px 50px 20px 50px;
    margin-left: 40px;
    margin-right: 40px;
}

/*** Content Value ***/

.text-value {
    color: #16a43f;
    font-size: 40px;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.text-value-item {
    font-size: 25px;
    color: #000;
    text-align: left;
    padding-left: 20px;
    font-weight: 600;
}

.text-title-value {
    color: #ffffff;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.img-value {
    box-shadow: 9px 6px 4px 3px rgba(0, 0, 0, .15);
}

/*** Security ***/

.page-header-security {
    background: #16a436;
    background-size: cover;
    height: 300px;
}

.img-security {
    box-shadow: 9px 6px 4px 3px rgba(0, 0, 0, .15);
    width: 300px;
    height: 150px;
}

.text-img-name {
    text-align: center;
    font-size: 20px;
}

/*** Gallery ***/

.page-header-gallery {
    background: #16a436;
    background-size: cover;
    height: 300px;
}

.text-title-gallery {
    display: flex;
    justify-content: center;
    height: 100px;
    margin-top: 50px;
    color: #16a436;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.sub-text-gallery {
    display: flex;
    justify-content: center;
    padding: 15px 15px 15px 15px;
    margin-top: 40px;
    color: #16a436;
    font-family: sans-serif;
    font-size: 35px;
}

.container-gallery {
    display: flex;
    width: 50%;
    padding: 2% 0%;
    box-sizing: border-box;
}

.box-gallery {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 1%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
    line-height: 0;
}

.box-gallery>img {
    width: 100%;
    height: calc(100%);
    object-fit: cover;
    transition: .5s;
}

/* .box-gallery > span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
  } */

.box-gallery:hover {
    flex: 1 1 50%;
}

.box-gallery:hover>img {
    width: 100%;
    height: 100%;
}

.text-title-gallery-over {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 35px;
    padding: 20px;
    padding-top: 50px;
}

.bg-gallery {
    background: rgb(22,164,54);
    background: linear-gradient(344deg, rgba(22,164,54,1) 51%, rgba(182,244,196,1) 100%);
}

body {
    text-align: center;
  }
  
  #gallery {
    width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  #gallery .photos {
    position: relative;
    height: 400px;
  }
  
  #gallery .photos img {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    left: 0;
    transition: opacity 1s;
    border-radius: 10px;
  }
  
  #gallery .photos img.showed {
    display: block;
    opacity: 1;
  }
  
  .btn-gallery {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ffffff;
    border-radius: 100px;
    margin: 1rem;
    cursor: pointer;
  }
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  

/*** Our Customers ***/

.page-header-customers {
    background: linear-gradient(rgba(136, 180, 78, .1), rgba(136, 180, 78, .1)), url(../img/page-gallery-1.jpg) left bottom no-repeat;
    background-size: cover;
}

.text-customers {
    text-align: left;
    font-size: 20px;
}

/*** ZERO LANDFILL Title ***/

.background-zero {
    background-color: #8bd29b;
    /* height: 20vh; */
}

.text-zero {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgb(123, 123, 123);
}

.text-landfill {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    color: #bfe600;
    text-shadow: 1px 1px 2px rgb(123, 123, 123);
}

.icon-world-zero {
    position: absolute;
    display: flex;
    margin-left: 200px;
    width: 200px;
    height: 160px;
}

/*** Factory info***/
.info-factory {
    text-align: left;
    margin-bottom: 1.5rem !important;
    font-size: 25px;
    padding-left: 20px;
    /* margin-left: 40px; */
}

.img-factory {
    width: 520px;
    height: 290px;
}

/*** Section Title ***/
/* .section-title {
    position: relative;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: var(--primary);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    bottom: -13px;
    left: calc(25% - 13px);
    background: var(--dark);
    border: 10px solid #FFFFFF;
    border-radius: 28px;
}

.section-title.text-center::before {
    left: 25%;
}

.section-title.text-center::after {
    left: calc(50% - 13px);
} */


/*** Products ***/
.product {
    background: linear-gradient(rgba(136, 180, 78, .1), rgba(136, 180, 78, .1)), url(../img/product-bg-1.jpg) left bottom no-repeat;
    background-size: cover;
}

.product-carousel .owl-nav {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.text-title {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    padding: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-shadow: 2px 3px 2px black;
}

.text-product-info {
    color: #ffffff;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.background-info {
    background: linear-gradient(180deg, rgba(22, 164, 54, 1) 0%, rgba(22, 164, 54, 0.7) 0%);
    border-radius: 20px;
    width: 400px;
    height: 450px;
    margin: 20px;
    margin-bottom: 25px;
}

.bg-3 {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.text-body-info {
    font-size: 20px;
    color: #ffffff;
    text-align: left;
    padding-left: 20px;
}

.product-carousel .owl-nav .owl-prev,
.product-carousel .owl-nav .owl-next {
    margin: 0 10px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    /* background: var(--primary); */
    border-radius: 55px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .15);
    font-size: 25px;
    /* transition: .5s; */
}

.product-carousel .owl-nav .owl-prev:hover,
.product-carousel .owl-nav .owl-next:hover {
    background: #FFFFFF;
    color: var(--primary);
}

/*** CSM ***/

.page-header-csm {
    background: url(../img/nature-renewable-energy.jpg) center center no-repeat;
    background-size: cover;
}

.bg-green {
    color: rgb(22, 164, 54);
    font-size: 47px;
    font-weight: 700;
}

.box-icon {
    /* display: flex;
    flex-wrap: nowrap;
    justify-content: space-around; */
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    animation-name: fadeIn;
}

.background-csm {
    background: rgb(255, 255, 255);
    border-radius: 22px;
    width: 200px;
    height: 200px;
    margin-bottom: 25px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-title-csm {
    font-size: 40px;
    color: #404040;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    width: auto;
}

.text-buddhism {
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 40px;
}

.img-csm {
    width: 160px;
    height: 160px;
}

.bg-used-computer {
    background-color: rgb(180 251 197);
}

.img-buddhism {
    width: 400px;
    height: 440px;
    box-shadow: 9px 6px 4px 3px rgba(0, 0, 0, .15);
}

.img-wat {
    margin-top: 20px;
    padding-top: 50px;
    width: 230px;
    height: 180px;
}

/*** Integrated Processing ***/

.processing-content-value {
    background: linear-gradient(rgba(136, 180, 78, .1), rgba(136, 180, 78, .1)), url(../img/bg-content-05.png) left bottom no-repeat;
    background-size: cover;
    /* background-size: auto; */
}

.page-header-processing,
.page-header-security {
    background: #16a436;
    background-size: cover;
    height: 300px;
}

.font-processing {
    /* width: 600px; */
    width: calc(60%);
    font-family: sans-serif;
    font-size: 45px;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgb(123, 123, 123);
    background: #078d11;
    border-radius: 22px;
    padding: 25px;
}

.img-processing {
    width: calc(103%);
    height: calc(100% - 0px);
    background-size: cover;
}

.bg-processing {
    background-color: #16a436;
}

.text-title-processing {
    font-size: 40px;
    margin-top: 20px;
    padding: 15px;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.text-info-processing {
    margin-left: 50px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 25px;
    text-align: left;
    color: #ffffff;
}

.text-header-pp {
    margin: 20px;
    font-size: 40px;
    color: #ffffff;
}

.img-products-processing {
    margin: 20px;
    width: 50px;
    height: 50px;
}

.img-fluid {
    width: 450px;
    height: auto;
}

/*** About ***/
.csm {
    background: linear-gradient(rgba(111, 111, 111, 0.393), rgba(167, 165, 165, 0.373)), url(../img/background-csm.png) center center no-repeat;
    background-size: cover;
}

.btn-play {
    position: relative;
    display: block;
    box-sizing: content-box;
    width: 65px;
    height: 75px;
    border-radius: 100%;
    border: none;
    outline: none !important;
    padding: 28px 30px 30px 38px;
    background: #FFFFFF;
}

.btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 120px;
    height: 120px;
    background: #FFFFFF;
    border-radius: 100%;
    animation: pulse-border 1500ms ease-out infinite;
}

.btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 120px;
    height: 120px;
    background: #FFFFFF;
    border-radius: 100%;
    transition: all 200ms;
}

.btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    left: 13px;
    border-left: 40px solid var(--primary);
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
        opacity: 0;
    }
}

/* .modal-video .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

.modal-video .modal-body {
    position: relative;
    padding: 0px;
}

.modal-video .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #FFFFFF;
    background: #000000;
    opacity: 1;
} */


/*** Store ***/
/* .store-item .store-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(138, 180, 78, .3);
    opacity: 0;
    transition: .5s;
}

.store-item:hover .store-overlay {
    opacity: 1;
} */


/*** Contact ***/

.bg-content {
    background: linear-gradient(rgba(136, 180, 78, .1), rgba(136, 180, 78, .1)), url(../img/bg-content-03.png) left bottom no-repeat;
    background-size: cover;
    /* background-size: auto; */
}

.contact .btn-square {
    width: 100px;
    height: 100px;
    border: 20px solid var(--light);
    background: var(--primary);
    border-radius: 50px;
}

.bg-light {
    background: linear-gradient(180deg, rgb(100, 241, 133) 0%, rgb(150 251 173 / 70%) 0%);
    border-radius: 20px;
}

.text-location {
    padding: 15px 15px 15px 15px;
    color: #47b760;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.text-item-location {
    font-family: sans-serif;
    font-size: 25px;
    padding: 15px;
}

/*** Testimonial ***/
.testimonial {
    background: linear-gradient(rgba(136, 180, 78, .85), rgba(136, 180, 78, .85)), url(../img/testimonial-bg.jpg) center center no-repeat;
    background-size: cover;
}

.testimonial-item {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    background: #FFFFFF;
    border: 30px solid var(--primary);
}

.testimonial-item img {
    width: 60px !important;
    height: 60px !important;
    border-radius: 60px;
}

.testimonial-carousel .owl-dots {
    margin-top: 35px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--dark);
}

/*** Footer ***/

.text-white {
    color: #fff !important;
    text-align: justify;
}

.img-icon-footer {
    margin-top: 20px;
    width: 190px;
    height: 170px;
}

.background-footer {
    background: rgb(84, 150, 99);
    background: linear-gradient(180deg, rgba(84, 150, 99, 1) 0%, rgba(50, 89, 58, 1) 100%);
}


/*** Footer ***/
.footer {
    color: #B0B9AE;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #B0B9AE;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--primary);
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--light);
    letter-spacing: 1px;
    box-shadow: none;
}

.copyright {
    color: #B0B9AE;
}

.copyright {
    background: #252525;
}

.copyright a:hover {
    color: #FFFFFF !important;
}