<!-- Footer Start -->
<div class="container-fluid background-footer footer py-4 wow fadeIn">
	<div class="container">
		<div class="row g-3">
			<div class="col-lg-2 col-md-2">
				<img class="img-icon-footer" src="../img/metechrecycle-logo-footer.png" alt="" />
			</div>
			<div class="col-lg-2 col-md-2"></div>
			<div class="col-lg-3 col-md-3">
				<h4 class="mb-4 text-white">Address</h4>
				<p class="text-white">
					Metech Recycle (Thailand) Co.,Ltd. Hi – Tech Industrial Estate, (EPZ Zone) 108 Moo 1,T.
					Banlen, A. Bang Pa – In Ayutthaya 13160 THAILAND
				</p>
			</div>
			<div class="col-lg-1 col-md-2"></div>
			<div class="col-lg-4 col-md-3">
				<h4 class="mb-4 text-white">Contact</h4>
				<div class="position-relative w-100 text-white">
					<p class="mb-2">
						<i class="bi bi-globe2 me-3"></i>
						Website :  www.metechrecycleth.com
					</p>
					<p class="mb-2">
						<i class="bi bi-telephone-forward me-3"></i>
						Phone No :  + 66 (0) 35 314 364-8
					</p>
					<p class="mb-2">
						<i class="bi bi-phone me-3"></i>
						Mobile : 089 742 9926
					</p>
					<p class="mb-2">
						<i class="bi bi-file-earmark-break me-3"></i>
						Fax No :  + 66 (0) 35 314 366
					</p>
					<p class="mb-2">
						<i class="bi bi-envelope me-3"></i>
						E – mail : nisit@metech.co.th
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Footer End -->
