<!-- Navbar Start -->
<div class="container-fluid bg-white sticky-top">
	<div class="container">
		<nav class="navbar navbar-expand-lg bg-white navbar-light py-2 py-lg-0">
			<a href="index.html" class="navbar-brand">
				<img class="img-logo-size" src="../img/logo-Metech.png" alt="Logo" />
			</a>
			<button
				type="button"
				class="navbar-toggler ms-auto me-0"
				data-bs-toggle="collapse"
				data-bs-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav ms-auto">
					<a href="index.html" class="nav-item nav-link">About Us</a>
					<div class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Our Business</a>
						<div class="dropdown-menu bg-light rounded-0 m-0">
							<a href="business.html" class="dropdown-item">Business</a>
							<a href="processing.html" class="dropdown-item">Processing</a>
							<a href="security.html" class="dropdown-item">Security</a>
							<a href="gallery.html" class="dropdown-item">Gallery</a>
						</div>
					</div>
					<a href="customers.html" class="nav-item nav-link">Our Customers</a>
					<a href="csr.html" class="nav-item nav-link">(CSR & ESG)</a>
					<!-- <a href="locations.html" class="nav-item nav-link">Locations</a> -->
					<a href="contact.html" class="nav-item nav-link">Contact Us</a>
				</div>
			</div>
		</nav>
	</div>
</div>
<!-- Navbar End -->
